<% provide(:title, 'About us') %>
    <h1>Our Vision:</h1>
    <p>
    </p>

<h1>Our Mission:</h1>
    <p>
    </p>

<h1>Our strategy:</h1>
    <p>
    </p>

<h1>Our Technique:</h1>
    <p>
    </p>

