<% provide(:title, 'About us') %>
    <h1>Our Vision:</h1>
    <h2>
Reach world without any plagiarism:)
</h2>
    

<h1>Our Mission:</h1>
 <h2>
Create a powerful tool to detect documents similarity. 
</h2>


<h1>Our strategy:</h1>
 <h2>
Provide plagiarism detector service on cloud! 
</h2>

<h1>Our Technique:</h1>
 <h2>
Use Ruby On Rails to create Tool
</h2>

