
<% provide(:title, 'Contact us') %>
    <h1>Please Contact us !</h1>
<h2> 

Any suggestions or complaints will be appreciated!
<br>
<br>
<br>
Please send me your new Ideas, but Don't cheat :D

</h2>

<h1>
Email:
</h1>

<h3>


e.gharavi[at]ut.ac.ir

</h3>
