<% provide(:title, 'Help') %>
    <h1>Help</h1>
<h2>

Actually no help needed. Just sign up and after that everything is straight forward,

<br>
<br>
You can upload two PDF files for comparison or enter Text manually.

<br>
<br>
Remember that stop words like 'a', 'the', ... will be ommited during comparison.


</h2>
<br>
<h3>
 Note: For your information cosine similarity measure was used here.
</h3>
