<div class="center hero-unit">
  <h1>Welcome to Plagiarism Detector App!</h1>

  <h2>
    This is the home page for our application which aim is to create a world
<br>
 without any plagiarism!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "follow-button" %>
</div>

<%= link_to image_tag("pla.jpeg", alt: "Avoid Plagiarism", class: "photo"), '' %>


