<% provide(:title, 'Score') %>

<h1>HOW MUCH SIMILAR ARE THEY...</h1>
<h2><label>These two documents are

<%=@score%>


%  similar! </label> 

</h2>
<br>
<h1> The judgment is on your own :) </h1>

<h4>
<%= link_to "Back to text input", './inputtext',
                               class: "follow-button" %>
<br>
<br>


<%= link_to "Back to file upload", upload_path,
                                class: "follow-button" %>

</h4>
