<h1>HOW MUCH SIMILAR ARE THEY...</h1>
<p><label>This two documents are

<%=@score%>


 similar! </label> 

</p>


 <%= link_to "Back to input", './inputtext',
                                class: "btn btn-large btn-primary" %>
